@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  background-color: #18960e;
  background-image: url("../img/green.jpg");
  background-size: cover;
  background-position: center;
}

/* ===== HEADER ===== */
header {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid #000;
  position: relative;
}

.h1_header {
  font-family: "Great Vibes", serif;
  font-size: 2em;
  position: absolute;
  left: 40px;
  display: flex;
  border: 5px solid #8022a5;
  padding: 0.15em;
  border-radius: 25px;
  background-color: #5f2f80;
}

/* letras coloridas */
.m_header {
  color: rgb(255, 81, 81);
}
.e_header {
  color: rgb(255, 97, 97);
}
.r_header {
  color: rgb(255, 117, 117);
}
.r2_header {
  color: rgb(255, 137, 137);
}
.y_header {
  color: rgb(255, 157, 157);
}
.c_header {
  color: rgb(5, 80, 5);
}
.h_header {
  color: rgb(5, 100, 5);
}
.r3_header {
  color: rgb(5, 120, 5);
}
.i_header {
  color: rgb(5, 140, 5);
}
.s_header {
  color: rgb(5, 160, 5);
}
.t_header {
  color: rgb(5, 180, 5);
}
.m2_header {
  color: rgb(5, 200, 5);
}
.a_header {
  color: rgb(5, 220, 5);
}
.s2_header {
  color: rgb(5, 240, 5);
}

/* ===== NAV ===== */
nav {
  margin: 0 auto;
  border: 5px solid #8022a5;
  padding: 0.5em;
  border-radius: 25px;
  background-color: #5f2f80;
}

.ul_header {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.link_header:any-link {
  color: #7b23c4;
  font-weight: 600;
  text-decoration: none;
}

.link_header:hover,
.link_header:focus {
  color: rgba(255, 79, 216, 0.6);
}

.link_header {
  cursor: pointer;
}

/* ===== MAIN ===== */
.main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__h2 {
  font-family: "Great Vibes", fantasy;
  color: #f5f5f5;
  border: 10px solid #f5f5f5;
  padding: 2.5rem;
  border-radius: 50px;
  background-color: #076814;
  letter-spacing: 0.2em;
  position: absolute;
  top: 20vh;
}

/* ===== PERSONAGENS ===== */
.character {
  position: fixed;
  bottom: 5vh; /* chão = topo do footer */
  left: -150px;
  pointer-events: none;
  display: none;
}

/* classe ativada pelo clique */
.walk {
  display: block;
  animation: walkAcross 8s linear forwards;
}

/* ===== ANIMAÇÃO ===== */
@keyframes walkAcross {
  from {
    left: -150px;
  }
  to {
    left: 100vw;
  }
}

/* ===== FOOTER ===== */
.footer {
  position: sticky;
  bottom: 0;
  height: 5vh;
  color: #2e00fd;
  background-image: url("../img/Untitled.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}
